﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="toDo.js" type="text/javascript"></script>
    <script src="Scripts/jquery.js"></script>
    <link href="Content/toDo.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="toDoApp" ng-controller="taskCtrl" class="container">
    <div>
        <input type="text" ng-model="newTaskName" ng-keyup="addTask($event)" placeholder="Create your new task" value="{{newTaskName}}">
        <button ng-click="addTask($event)">Add</button>
        <div class="taskTable">
            <div ng-repeat="task in tasks | completedFilter:tasksFilter" class="taskRow">
                <div><input type="checkbox" ng-model="task.Completed" /></div>
                <div class="{{task.Completed?'completed':'active'}}"> {{task.Name}} </div>
                <div><button ng-click="deleteTask(task)">x</button></div>
            </div>
        </div>

        <div class="filters">
            <button ng-model="tasksFilter" ng-click="tasksFilter = true">Show completed tasks</button>
            <button ng-model="tasksFilter" ng-click="tasksFilter = false">Show active tasks</button>
            <button ng-model="tasksFilter" ng-click="tasksFilter = 'none'">Show all tasks</button>
            <button ng-click="clearCompleted()">Delete completed tasks</button>
            <button ng-click="saveTasks()">Save tasks to database</button>
        </div>
    </div>
</body>
</html>
