﻿.container{
   width: 30%; 
   margin: auto;
   background-color:#E3FDDD;
   padding-top:5%;

}
.container > div{
    text-align:center;
    background-color:#FBF9F4;
    padding: 5px;
    border: 2px #808080;
   -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}
.taskTable{
    width:100%;
    display: table;
}

.taskRow{
    display: table-row;
    min-height:30px;
}
.taskRow > div{
    display: table-cell;
    text-align:left;
}
.taskRow>div:first-child{
    width:15%;
}
.taskRow>div:last-child{
    width:15%;
    text-align: right;
}

.completed{
    font: italic #878787;
    text-decoration: line-through;
}

.filters{
    margin:5px;
    height: 20%;
}
.filters>button{
    width:15%;
    height:100%;
    border: none;
    background-color:none !important;
}
.filters>button:hover{
  text-shadow: 5px #ffffff;
}